footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    width: -moz-fit-content;
    width: fit-content;
    justify-items: center;
    cursor: pointer;
}

@media screen and (max-width: 62.5rem) {
    .footer-container {
        display: grid;
        gap: 0.25rem 1rem;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 34.375rem) {
    .footer-container {
        grid-template-rows: 1fr 1fr 1fr;
    }
}