header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto 1fr auto;
    grid-auto-flow: column;
    width: 100%;
    font-size: 1rem;
    gap: 1rem;
    line-height: 1rem;
}

header h1 {
    font-size: 34px;
    font-weight: bold;
    color: #CCCCB5;
}

@media screen and (max-width: 62.5rem) {}

@media screen and (max-width: 34.375rem) {
    header h1 {
        font-size: 25px;
    }

    header i {
        width: 1.3rem;
        height: 1.3rem
    }
}