@import url('./css/Theme.css');
:root {
  font-family: Fira Mono, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--sub-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.textButton {
  align-items: baseline;
  display: grid;
  gap: 0.25rem;
  align-items: center;
  grid-auto-flow: column;
  width: -moz-available;
  width: max-content;
  cursor: pointer;
}

.textButton i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.textButton p {
  color: #4e5973;
  font-size: 12px;
  font-weight: 500;
}

.fas {
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--sub-color);
}

.fa-leaderboard {
  -webkit-mask-image: url(./assets/images/leaderboard.svg);
  mask-image: url(./assets/images/leaderboard.svg);
}

.fa-settings {
  -webkit-mask-image: url(./assets/images/settings.svg);
  mask-image: url(./assets/images/settings.svg);
}

.fa-notification {
  -webkit-mask-image: url(./assets/images/notification.svg);
  mask-image: url(./assets/images/notification.svg);
}

.fa-unregistered {
  -webkit-mask-image: url(./assets/images/unregistered.svg);
  mask-image: url(./assets/images/unregistered.svg);
}

.fa-logged {
  -webkit-mask-image: url(./assets/images/logged.svg);
  mask-image: url(./assets/images/logged.svg);
}

.fa-login-add {
  -webkit-mask-image: url(./assets/images/login-add.svg);
  mask-image: url(./assets/images/login-add.svg);
}

.fa-logout {
  -webkit-mask-image: url(./assets/images/logout.svg);
  mask-image: url(./assets/images/logout.svg);
}

.fa-contact {
  -webkit-mask-image: url(./assets/images/contact.svg);
  mask-image: url(./assets/images/contact.svg);
}

.fa-support {
  -webkit-mask-image: url(./assets/images/support.svg);
  mask-image: url(./assets/images/support.svg);
}

.fa-code {
  -webkit-mask-image: url(./assets/images/code.svg);
  mask-image: url(./assets/images/code.svg);
}

.fa-security {
  -webkit-mask-image: url(./assets/images/security.svg);
  mask-image: url(./assets/images/security.svg);
}

.fa-privacy {
  -webkit-mask-image: url(./assets/images/privacy.svg);
  mask-image: url(./assets/images/privacy.svg);
}
.textButton:focus, .textButton:hover * {
  color: var(--text-color);
}
.textButton:hover i {
  background-color: var(--text-color);
}

.form-button:hover i {
  background-color: var(--sec-color);
}

.form-button i {
  background-color: var(--sec-color);
}
.btn-disabled {
  filter: brightness(0.5);
}
.btn-disabled:hover {
  background-color: var(--main-color);
  cursor: not-allowed;
}